{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="card my-5">
    <h6 class="card-header text-end">
        <p class="my-auto">글번호: {{ review.pk }} | 작성시간: {{ review.created_at }} | 마지막 업데이트: {{ review.updated_at }}</p>
    </h6>
    <div class="card-body">
        <h1 class="mt-3 mb-3 fw-bold text-success text-">{{ review.title }}</h1>
        <p class="fs-5">{{ review.content }} </p>
        <a class="btn btn-primary btn-sm" href="{% url 'reviews:update' review.pk %}">수정</a>
        <a class="btn btn-danger btn-sm" href="{% url 'reviews:delete' review.pk %}">삭제</a>
        <a class="btn btn-success btn-sm" href="{% url 'reviews:index' %}">홈으로</a>
    </div>
</div>

{% endblock content %}