{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<h1 class="mt-3 mb-3 fw-bold text-success text-center">{{ user.username }}님의 회원정보</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">회원번호</th>
      <th scope="col">ID</th>
      <th scope="col">성</th>
      <th scope="col">이름</th>
      <th scope="col">E-mail</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ user.pk }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.email }}</td>
      <td><a class="btn btn-primary btn-sm" href="{% url 'accounts:update' user.pk %}">수정</a></td>
    </tr>
  </tbody>
</table>
<div>
  <a class="btn btn-success btn-sm" href="{% url 'reviews:index' %}">홈으로</a>
</div>

{% endblock content %}